.playBtn,
.playBtn *,
.playBtn :after,
.playBtn :before,
.playBtn:after,
.playBtn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.playBtn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.playBtn:disabled {
  cursor: default;
}
.playBtn:-moz-focusring {
  outline: auto;
}
.playBtn svg {
  vertical-align: middle;
}
.playBtn [hidden] {
  display: none;
}
.playBtn {
  --thickness: 0.3rem;
  --roundness: 1rem;
  --color: red;
  --opacity: 0.6;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background: none;
  background: hsla(0, 0%, 0%, 0.733);
  border: none;
  border-radius: var(--roundness);
  color: var(--color);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.7rem 2rem;
  position: relative;
}
.playBtn:hover {
  background: hsla(0, 0%, 0%, 0.6);
  filter: brightness(1.2);
}
.playBtn:active {
  --opacity: 0;
  background: hsla(100%, 0%, 0%, 0.1);
}
.playBtn svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.playBtn rect {
  fill: none;
  stroke: var(--color);
  stroke-width: var(--thickness);
  rx: var(--roundness);
  stroke-linejoin: round;
  stroke-dasharray: 185%;
  stroke-dashoffset: 80;
  -webkit-animation: snake 2s linear infinite;
  animation: snake 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}
.playBtn:hover rect {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: var(--opacity);
}
@-webkit-keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
@keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
