@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.canvasGame {
  border: solid 1px blue;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
