.ChannelContainer {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.playerList {
  margin-left: 50px;
  background-color: aliceblue;
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.playerListItem,
.playerListItem:hover,
.playerListItem:focus,
.playerListItem:active {
  text-decoration: none;
  color: inherit;
}
