@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.containerFriend {
  margin: 0;
  position: relative;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Orbitron';
}

.containerRow {
  margin-top: 100px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}
