@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.mainGame_block {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}


.GamePlayerChoose_container
{
  position: absolute; 
  width: 50vw;
  height: 50vw; 
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  border: solid 1px blue;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.GamePlayerChoose_box
{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}

.GamePlayerChoose_sl
{
  border: solid 2px red;
}
.GamePlayerChoose_range
{
   width: 50%;
   margin: 0 auto; 
}
.playeCont
{
  bottom: 0;
  color:white;
  width: 100%;
  display: flex;
  justify-content: space-around; 
  position: absolute; 
  font-family: "Orbitron"; 
  font-size: 4em;             
}
 
@media (min-width: 1px) and (max-width: 645px){ 
  .playeCont
  {
    bottom: 0;
    color:white;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    position: absolute; 
    font-family: "Orbitron"; 
    font-size: 2em;             
  }
 }

 @media (min-width: 647px){ 
  .playeCont
  {
    bottom: 0;
    color:white;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    position: absolute; 
    font-family: "Orbitron";  
    font-size: 4em;             
  }
 }