.MainUserProfile_block {
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  font-family: 'Orbitron';
}
.popupmain {
  color: white;

  border: solid 1px blue;
  display: flex;
  justify-content: center;
}
